@import 'app.min.1.less';
@import 'app.min.2.less';
@import 'font-awesome.min.less';
@import 'icomoon-variables.less';
@import 'icomoon.less';
@import 'bootgrid-custom.less';
@import 'prettify.less';
@import 'jquery-ui.less';
@import 'jquery-ui.structure.less';
@import 'jquery-ui.theme.less';
@import 'monthPicker.less';
@import 'summernote.less';


.a-link{
    display: block;
    color: #4C4C4C;
    .trans-300ms;
    &:hover, &:active{
        color: #597353;
        background-color: rgba(76, 175, 80, 0.27);
        .p-l-10;
        .trans-300ms;
    }
}

.trans-300ms{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

body{
    &.login-content{
        &:before{
            background: url('../img/background-login.jpg');
            content: 'Grupo MPE';
            font-size: 5em;
            font-family: roboto;
            padding-top: 5%;
            color: #EDECEC;
            z-index: -5;
        }
        .login-navigation{
            > li{
                &:hover {
                    border-radius: 20px;
                    padding: 5px 15px;
                    font-size: 14px;
                }
                &:not(:hover) {
                    border-radius: 15px;
                    padding: 3px 10px;
                    font-size: 11px;
                }
            }
        }
    }
}
.sidebar{
    margin-top: 6px;
}

.logo{
    margin-top: -20px;
    img{
        max-height: 60px;
    }
}

#l-footer{
    #footer;
    color: #777777;
}

.four-zero{
    background: #03984B;
    footer {
        > a {
            padding: 9px 0 0 0;
        }
    }
}
#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    .loading {
        position: absolute;
        bottom: 10%;
        right: 10%;
        color: #EEEDDD;
        .circle{
            background: rgba(255, 255, 255, 0.65);
            border-radius: 75px;
            overflow: hidden;
            .preloader{
                width: 120px;
            }
        }

    }
}

@media (min-width: 1199px){
    body {
        &.sw-toggled{
            .breadcrumb{
                padding: 10px 33px 11px;
            }
        }
        .breadcrumb{
            li{
                a{
                    .c-green;
                }
            }
        }
    }
}

.card{
    .icon-index{
        i{
            font-size: 5em;
            display: block;
        }
        b{
            font-size: 2em;
            display: block;
        }
    }
    .card-header{
        .actions{
            z-index: 5;
        }
    }
}

@media (min-width: 768px){
    .card{
        &:hover{
            .icon-index{
                b{
                    font-size: 1.2em;
                }
            }
        }
        .icon-index{
            i{
                font-size: 9em;
            }
            b{
                font-size: 1.1em;
                -webkit-transition: all 300ms ease-in-out;
                -moz-transition: all 300ms ease-in-out;
                -ms-transition: all 300ms ease-in-out;
                -o-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out;
            }
        }
    }
}

.title_category{
    border-bottom: 2px solid #2196f3;
}
.info-user{
    display: none;
}

.ui-datepicker{
    z-index: 9999 !important;
}

*[readonly=readonly]{
    cursor: no-drop;
}

.profile-menu{
    > a{
        .profile-pic{
            > span {
                width: 47px;
                height: 47px;
                border-radius: 50%;
                border: 3px solid rgba(0, 0, 0, 0.14);
                box-sizing: content-box;
                overflow: hidden;
                display: inline-block;
                > i{
                    .c-black;
                    font-size: 3em;
                    margin-top: 7px;
                    display: block;
                    text-align: center;
                }
            }
        }
        .profile-info{
            white-space: nowrap;
        }
    }
}

.sidebar{
    .listview{
        h6{
            border-bottom: 1px solid #A9A9A9;
            padding-bottom: 5px;
        }
    }
}

.pm-overview{
    .pmo-pic{
        .p-relative{
            span{
                display: block;
                overflow: hidden;
                i{
                    font-size: 17em;
                    margin-bottom: -14px;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 767px){
    .pm-overview{
        .mCustomScrollBox{
            height: inherit;
        }
    }
}

.main-menu.principal {
    padding-bottom: 200px;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

@media print {
    a{
        &:link:after, &:visited:after, &:after, &[href^="javascript:"]:after, &[href^="#"]:after{
            content: "";
        }
    }
}

.gradient_verd_diagonal{
    background: #a8d6a8;
    background: -moz-linear-gradient(-45deg,  #a8d6a8 0%, #7ac07a 17%, #4fa94f 33%, #038103 67%, #025202 83%, #012101 100%);
    background: -webkit-linear-gradient(-45deg,  #a8d6a8 0%,#7ac07a 17%,#4fa94f 33%,#038103 67%,#025202 83%,#012101 100%);
    background: linear-gradient(135deg,  #a8d6a8 0%,#7ac07a 17%,#4fa94f 33%,#038103 67%,#025202 83%,#012101 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8d6a8', endColorstr='#012101',GradientType=1 );
}